<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <fieldset id= "register">
        <legend>Registration</legend>
        <form action="/register" method=    "POST">
            <p class="text">First Name: <input type="text" name="first_name"></p>
            <p class="text">Last Name: <input type="text" name="last_name"></p>
            <p class="text">Email: <input type="text" name="email"></p>
            <p class="text">Password: <input type="password" name="password"></p>
            <p class="text">Confirm Password: <input type="password" name="password_confirm"></p>
            <p class="text">Birthdate: <input type="date" name="birthdate"></p><hr>
            <input type="submit" value="Register" class="button">

        </form>
    </fieldset>

    <fieldset id="login">
        <legend>Login</legend>
        <form action="/login" method="POST">
            <p class="text">Email: <input type="text" name="email" id=""></p>
            <p class="text">Password <input type="password" name="password"></p><hr>
            <input type="submit" value="Login" class="button">
        </form>
            
    </fieldset>




    <% if( typeof(errs) !== 'undefined'){%>
<fieldset id="error">
    <% for(errors of errs){ %>
        <p><%=errors %></p>
    <% } %>
</fieldset>
<%}%>
</body>
</html>