<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Welcoe to Quoting Dojo</h1>
        <form id="animals" action="/animals" method="POST">
            <label>
                Animal type:
                <input name = "type" type="text">
            </label>
        </form>
        <div class = "buttons">
        <button form="animals" type="submit" >Add my Animal</button>
    </div>
</body>
</html>