<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcoe to Quoting Dojo</h1>
    <form id="quotes" action="/quotes" method="POST">
        <label>
            Your Name:
            <input name = "name"type="text">
        </label>
        <label>
            Your Quote:
            <textarea name="quote" id="" cols="30" rows="10"></textarea>
        </label>
    </form>
    <div class = "buttons">
    <button form="quotes" type="submit" >Add my Quote</button>
    <a href="/quotes"></a> <!--can you make a new form and have the first button tie to a diff form->
    </div>

    
</body>
</html>